*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height:100%;
    width:100%;
}

.container{
    height:100%;
    width:100%;
    background-color: rgb(83, 78, 78);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 0.4rem;
    padding:4rem;
    border:2px solid white ;
}

.item{
   /* height: 100px;
    width: 100px;*/
    background-color: rgb(23, 234, 234);
    border: 5px solid rgb(237, 111, 111);
    /*justify-self: end;*/
    /*align-self: center;*/
    place-self: stretch;
}